<div class="container-fluid" align="center" style="margin-top: 5%;">
  <%= render 'form', official: @official %>
</div>
<div class="container-fluid" style="margin-left:5$;">
  <%= link_to 'Back', officials_path, :class => 'btn btn-large btn-default' %>
</div>
