<div class="container" align="center" style="padding-bottom:5%;">
  <table class="table table-bordered">
    <tr>
      <td class="c" colspan="2">COMMUNITY TAX CERTIFICATE</td>
      <td class="c">INDIVIDUAL</td>
      <td>CCI2010</td>
    </tr>
    <tr>
      <td>Year</td>
      <td>Place of Issue(City/Mun./Prov.)</td>
      <td>Date Issued</td>
      <td>Taxpayer's Copy</td>
    </tr>
    <tr>
      <td colspan="3">Name:<%= @request.first_name %></td>
      <td>TIN (If any):</td>
    </tr>
    <tr>
      <td colspan="3">Address:</td>
      <td>Gender:</td>
    </tr>
    <tr>
      <td>Citizenship</td>
      <td>ICR No.(If an Alien)</td>
      <td>Birth Place</td>
      <td>Height</td>
    </tr>
    <tr>
      <td colspan="2">Civil Status</td>
      <td>Date of Birth</td>
      <td>Weight</td>
    </tr>
    <tr>
      <td colspan="2">Profession/Occupation/Business</td>
      <td>Taxable Amount</td>
      <td>Community Tax Due</td>
    </tr>
    <tr>
      <td colspan="2">A. BASIC COMMUNITY TAX (P5.00) Voluntary or Exempted (P1.00)</td>
      <td></td>
      <td>P</td>
    </tr>
    <tr>
      <td colspan="2">B. ADDITIONAL COMMUNITY TAX (tax not ro exceed P5,000.00)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">1. Gross receipts or earning derived from exercise of preceiding year (P1.00 for every P1,000.00)</td>
      <td>P</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">2. Salaries or gross receipt or earnings derived from exercise of profession or pursuit of any occupation (P1.00 for every P1,000.00)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">3. Income from real property (P1.00 for every P1.000.00)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="c" rowspan="4">Right Thumb Print</td>
      <td rowspan="2" style="padding-bottom:5%;">Taxpayer's Signature</td>
      <td class="c">TOTAL</td>
      <td>P</td>
    </tr>
    <tr>
      <td class="c">INTEREST</td>
      <td>f</td>
    </tr>
    <tr>
      <td class="c" style="padding-top:5%;" rowspan="2">_________________________<br>Municipal/City Treasurer</td>
      <td class="c">TOTAL AMOUNT PAID</td>
      <td>j</td>
    </tr>
    <tr>
      <td colspan="2">(In words)</td>
    </tr>
  </table>

</div>
