<p>
	<strong>First Name: </strong>
	<%= request.first_name %>
</p>

<p>
	<strong>Middle Name: </strong>
	<%= @requests.middle_name %>
</p>

<p>
	<strong>Last Name: </strong>
	<%= @requests.last_name %>
</p>

<p>
	<strong>Owner: </strong>
	<%= @requests.bhouse_owner %>
</p>
